*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #0090ff;
    color: white;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #0090ff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/*  Hero Section */

.hero{
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
}

.hero_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading{
    font-size: 40px;
    margin-bottom: 24px;
    color: white;
}

.hero__description{
    font-size: 20px;
    color: white;
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px){
    .hero__heading{
        font-size: 40px;
    }

    .hero__description {
        font-size: 20px;
    }
}

/*  About Section */
.main{
    background-color: white;
    padding: 10rem 0;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content{
    color: black;
    width: 100%;
}

.main__content h1{
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 2rem;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 2rem;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #0090ff;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    outline: none;
    
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100;
    }