*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #0090ff;
    color: white;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #0090ff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/*  Hero Section */

.hero{
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1;
}

.hero_container{
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__container{
    justify-content: center;
    font-size: 20px;
    color: white;
    text-align: center;
    z-index: 1;
}

.hero__heading{
    color: #fff;
    font-size: 48px;
    text-align: center;
    z-index: 1;
}

.hero__description{
    justify-content: center;
    font-size: 20px;
    color: white;
    text-align: center;
    z-index: 2;
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px){
    .hero__heading{
        font-size: 40px;
    }

    .hero__description {
        font-size: 20px;
    }
}

.hero__wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 960px;
}

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
    z-index: 999;
}

.header-overlay{
    height: 100vh;
    width: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: 1;
    opacity: 0.3;
}

.twp-video-background {
    background: #fff;
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    overflow: hidden;
    box-sizing: border-box; 
}
.twp-video-foreground,
.twp-video-background video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    object-fit: cover; 
}

.twp-video-foreground{
    padding-bottom: 56.25%;
    box-sizing: border-box; 
}

.header-overlay{
    height: 100vh;
    width: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: 1;
    opacity: 0.3;
}

/*  About Section */
.main{
    background-color: white;
    padding: 10rem 0;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content{
    color: black;
    width: 100%;
}

.main__content h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 32px;

}

.main__content h2 {
    font-size: 20px;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 2rem;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #0090ff;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    outline: none;
    margin: 2rem auto;
    display: block;
    white-space: nowrap;

    
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100;
    background: black;
    transition: all 0.35s;
    border-radius: 4px;
    }

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after{
    width: 100;
}

.main__img__container {
    text-align: center;
}

.main__img-card{
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

}



/*Mobile Responsive*/ 
@media screen and (max-width: 1100px){
    .main__container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100;
        margin: 0 auto;
        height: 90%;
    }

    .main__img__container{
        display: flex;
        justify-content: center;
    }

    .main__img-card{
        height: 425px;
        width: 425px;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 40px;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 20px;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 10rem;
    }

    @media screen and (max-width: 480px) {
    .main__img-card{
        width: 250px;
        height: 250px;
        }
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 1rem;


    }

    .main__content p {
        margin-top: 2rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
        justify-content: center;
        align-items: center;
        
    }


    @media screen and (max-width: 768px){
    .hero__heading{
        font-size: 40px;
        }
    }
}


/* Team */
#team{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        padding: 20px;
        background-color: black;
    }
    .team-heading{
        font-size: 2.2rem;
        padding: 10px 20px;
        margin: 20px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    .member-box{
        box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
        background-color: #ffffff;
        position: relative;
        cursor: pointer;
    }
    .member-img{
        width:362px;
        height: 542px;
        position: relative;
    }
    .member-img img{
        width:100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    .hover-img{
        position: absolute;
        left: 0px;
        top: 0px;
        width:100%;
        height: 100%;
        z-index: 1;
        display: none;
    }
    .member-box:hover .hover-img{
        display: block;
        animation: fade 0.3s;
    }
    @keyframes fade{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .member-name{
        width:100%;
        padding: 20px 10px;
        background-color: #ffffff;
        z-index: 2;
    }
    .member-name h3,
    .member-name h5{
        color: #1b1b1b;
        margin: 0px;
        letter-spacing: 0.3px;
    }
    .member-name h5{
        font-weight: 500;
    }
    .member-name h3{
        text-transform: uppercase;
        font-weight: 800;
    }
    .team-box-container{
        display: grid;
        grid-template-columns: 362px 362px 362px;
        grid-template-rows: auto auto auto;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        grid-gap: 20px;
    }
    .member-detail-box{
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    }
    .detail-box-1,
    .detail-box-2,
    .detail-box-3,
    .detail-box-4,
    .detail-box-5,
    .detail-box-6{
        grid-column: 1/4;
        display: none;
    }
    .detail-box-img{
        width:300px;
        height: auto;
    }
    .detail-box-img img{
        width:100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    .detail-box-text{
        padding: 20px 20px 20px 0px;
        position: relative;
        color: #ffffff;
    }
    .detail-name{
        font-size: 2rem;
        color: #ffffff;
        font-weight: 700;
    }
    .member-social-links{
        display: flex;
        align-items: center;
    }
    .member-social-links a{
        width:30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.1);
        margin: 5px;
        border-radius: 50%;
        font-size: 0.9rem;
        color: #ffffff;
    }
    .member-social-links a:hover{
        color: #fff;
        background-color: #fff;
        transition: all ease 0.3s;
    }
    .detail-box-text .position{
        color: #ffff;
        border-bottom: 1px solid #414141;
        margin: 0px;
        padding: 10px 0px;
        width:97%;
    }
    .detail-box-text p{
        color: #202020;
        font-weight: 500;
        font-size: 0.9rem;
        color: #ffff;
    }
    .view-work-btn{
        width:150px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #202020;
    }
    .view-work-btn:hover,
    .cancel:hover{
        color: #fff;
        background-color: #0e0e0e;
        transition: all ease 0.3s;
    }

    .cancel{
        position: absolute;
        right: 30px;
        top: 20px;
        width:40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #202020;
    }
    .show-details-1,
    .show-details-2,
    .show-details-3{
        display: grid;
        grid-row: 2/3;
        animation: fade 0.3s;
    }
    .show-details-4,
    .show-details-5,
    .show-details-6{
        display: grid;
        grid-row: 3/4;
        animation: fade 0.3s;
    }

        @media(max-width:1200px){
        .team-box-container{
            grid-template-columns: 303px 303px 303px;
        }
        .member-img{
            width:303px;
            height: 450px;
        }
    }
    @media(max-width:990px){
        .team-box-container{
            grid-template-columns: 232px 232px 232px;
            grid-gap: 10px;
        }
        .member-img{
            width:232px;
            height: 335px;
        }
        .member-detail-box{
            grid-gap: 10px;
        }
        .detail-box-text{
            padding: 10px;
        }
        .cancel{
            top:10px;
            right: 10px;
        }
    }
    @media(max-width:800px){
        .team-box-container{
            grid-template-columns: 340px 340px;
        }
        .member-img{
            width:340px;
            height: 510px;
        }
        .show-details-1,
        .show-details-2{
            display: grid;
            grid-row: 2/3;
            grid-column: 1/3;
        }
        .show-details-3,
        .show-details-4{
            display: grid;
            grid-row: 3/4;
            grid-column: 1/3;
        }
        .show-details-5,
        .show-details-6{
            display: grid;
            grid-row: 4/5;
            grid-column: 1/3;
        }
    }
    @media(max-width:745px){
        .team-box-container{
            grid-template-columns: 250px 250px;
        }
        .member-img{
            width:250px;
            height: 375px;
        }
        .member-detail-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0px;
            position: relative;
        }
        .detail-box-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: static;
        }
    }
    @media(max-width:575px){
        .team-box-container{
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }
        .member-img{
            width:100%;
            height: 355px;
        }
        #team{
            padding: 10px;
        }
        .team-heading{
            font-size: 1.7rem;
        }
    }
    @media(max-width:450px){
        .team-box-container{
            grid-template-columns: 1fr;
        }
        .member-img{
            height: 500px;
        }
        .show-details-1,
        .show-details-2,
        .show-details-3,
        .show-details-4,
        .show-details-5,
        .show-details-6{
            grid-column: 1/2;
        }
        .show-details-1{
            grid-row: 2/3;
        }
        .show-details-2{
            grid-row: 3/4;
        }
        .show-details-3{
            grid-row: 4/5;
        }
        .show-details-4{
            grid-row: 5/6;
        }
        .show-details-5{
            grid-row: 6/7;
        }
        .show-details-6{
            grid-row: 7/8;
        }
    }
/* Footer Css */

footer{
    position: flex;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #0090ff;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}